@if (type() === 'toggle') {
  <mat-slide-toggle [formControl]="formControl()" color="primary" class="w-full">
    <span class="font-medium">{{ label() }}</span>
  </mat-slide-toggle>
} @else {
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>
      {{ label() }}
    </mat-label>

    @if (type() === 'text' || type() === 'number') {
      <input
        matInput
        [type]="type()"
        [formControl]="formControl()"
        [placeholder]="placeholder()">
    }

    @if (type() === 'textarea') {
      <textarea
        matInput
        [formControl]="formControl()"
        [rows]="3"
        [placeholder]="placeholder()">
      </textarea>
    }

    @if (type() === 'select') {
      <mat-select [formControl]="formControl()">
        @for (option of options(); track option) {
          <mat-option [value]="option">
            <span class="capitalize">{{ option }}</span>
          </mat-option>
        }
      </mat-select>
    }

    @if (hint() && !hasError()) {
      <mat-hint>{{ hint() }}</mat-hint>
    }

    @if (hasError()) {
      <mat-error>
        {{ errorMessage() }}
      </mat-error>
    }
  </mat-form-field>
}
